
::selection{
  background-color:#8a8a8a;
}
::-moz-selection{
  background-color:#8a8a8a;
}
nav {
  position:fixed;
  height:100%;
  width:200px;
  left:-200px;
  top:0px;
  background-color:rgba(0,0,0,0.5);
  transition:left 350ms ease;
  z-index:99998;
}
nav:hover {
 left:0px; 
}
#bookmark {
  position:absolute;
  background-color:rgba(0,0,0,0.5);
  width:50px;
  min-height:50px;
  left:200px;
   background-color:rgba(0,0,0,0.5);
   color:rgba(255,255,255,1);
  font-size:28px;
  line-height:50px;
  text-align:center;
}
#horizontal-shadow {
  position:absolute;
  width:50px;
  height:1px;
  background-color:transparent;
  box-shadow:0px 1px 1px rgba(0,0,0,0.5);
  top:49px;
}
#vertical-shadow {
  position:absolute;
  width:1px;
  height:50px;
  background-color:transparent;
  box-shadow:1px 0px 1px rgba(0,0,0,0.5);
  left:49px;
  top:0px;
}
#vertical-shadow-nav {
  position:absolute;
  width:1px;
  height:100%;
  background-color:transparent;
  box-shadow:1px 0px 1px rgba(0,0,0,0.5);
  left:199px;
  top:50px;
}
#nav ul {
  list-style:none;
  padding:0px;
  margin-top:50px;
}
#nav li {
  font-family:'Source Sans Pro';
  font-size:1.4em;
  line-height:1.4em;
  text-shadow:0px 1px 3px rgba(0,0,0,0.5);
}
nav a{
  text-decoration:none;
  color:rgba(255,255,255,1);
  display:block;
        padding-left:20px;
  padding-right:10px;
  transition:all 400ms ease;
}
nav a:hover {
  color:rgba(0,0,0,1);
  background-color:rgb(255,255,255);
  padding-left:40px;
}
nav a:active {
  box-shadow:inset 1px 1px 4px rgba(0,0,0,0.9);
}
#sep {
  margin:15px;
  box-shadow:0px 1px 2px rgba(0,0,0,0.5);
  width:170px;
  height:1px;
  background-color:#fff;
}
